@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
    min-height: 10vh;
    background: #5372F0;
}

.container {
    width: 450px;
    border-radius: 7px;
    background-color: #fff;
}

.container h2 {
    font-size: 25px;
    font-weight: 500;
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}
